/* Reset */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl,
dt, dd, blockquote, address{
  margin: 0;
  padding: 0;
}

/* Set box-sizing globally to handle padding and border widths */
*,
*:after,
*:before {
	box-sizing: inherit;
}

body {
  font-family: 'Muli', sans-serif;
  color: #555;
  min-width: 320px;
  background: #fff;
  font-size: 1.4em; /* Use `ems` because there is a Chrome bug misinterpreting rems on body element */
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6;
}

/* The base font-size is set at 62.5% for convenience
  of sizing rems in a way that is similar to using px: 1.6rem = 16px */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

.masthead {
  background: #f8f8f8;
  width: 100%;
  margin-top: 70px;
  height: 200px;
}

.main {
  padding: 0 10px 10px;
  margin-top: -150px;
}
